#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.selected {
    border: 2px solid red;
}

.battle-container {
    margin-top: 20px;
    text-align: center;
}

.winner {
    margin-top: 10px;
    font-size: 1.5em;
    color: green;
}

.small-image img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
}

#poke-container.vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ui.card {
    margin-bottom: 20px; /* Adds spacing between cards */
    width: 150px; /* Optionally set a width for better layout */
    text-align: center;
}

